{% load static %}
<footer>
    <div class="site_contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="join">
              <h2><span>Become a member</span>Join the community</h2>
              <p>Reach out to us for membership application, partner onboarding or general inquiries. Our goal is
                build
                a cohesive community that will lead the growth of web3 technology revolution in India.</p>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="join_form">
              <form action="{% url 'send_mail' %}" method="post">
                {% csrf_token %}

                <div class="form-group">
                  <input type="text" placeholder="Full Name" id="USerFullName" name="USerFullName" class="form-control">
                </div>
                <div class="form-group">
                  <input type="email" placeholder="Offical Email ID" id="UserEmail" name="UserEmail" class="form-control">
                </div>

                <div class="form-group">
                  <input type="text" placeholder="Designation" id="UserDesignation" name="UserDesignation" class="form-control">
                </div>

                <div class="submit_btn">
                  <button type="submit" class="btn btn-fill">Contact us</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="social_icons">
          <a target="_blank" href="https://twitter.com/BW3Association"><img src="{% static 'img/ic_bwa-L-logo.png' %}" alt=""></a>
          <a target="_blank" href="https://www.linkedin.com/company/bharatweb3association/"><img src="{% static 'img/linkedin 1.png' %}" alt=""></a>
        </div>
      </div>
    </div>
    <div class="container">
      
    
    <div class="footer_logo">
      <div class="ftr_l">
        <img src="{% static 'img/ic_bwa-L-logo.png' %}" alt="">
      </div>
      <div class="lnk_b">
        <a target="_blank" href="https://twitter.com/BW3Association">Twitter</a>
        <a target="_blank" href="https://www.linkedin.com/company/bharatweb3association/">Linkedin</a>
      </div>

    </div>
    </div>
  </footer>





</div>




<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>