{% extends 'frame.html' %}
{% load static %}
{% block content %}

  <div class="site_wrapper">
 



    <section class="site_vision">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="vision_content">
              <h2>Our Vision</h2>
             
              <p>The next internet revolution has arrived, and the Bharat Web3 Association (BWA) members are leading this transformation in India. Web3 is a vision for the Internet's future generation. It is the emergence of user control and ownership of their online creative projects, digital assets, and online identities.</p>
              <p> This revolution will continue to have an impact on numerous industries, including healthcare, agriculture, education, real estate, and supply chain, among others. Blockchain has the ability to provide significant revenue and job possibilities and usher in a new era of technology-driven economic growth.</p>
              <p>
                The developments in the Web3 industry, blockchain, and the associated ecosystem will allow the government to realize its goals through enhancing the JAM Trinity and other Digital India initiatives. This is also an unique opportunity for India to play a global leadership role in the future of the internet, both in terms of innovation and execution - Make in India for India; Make in India for the World.
              </p>
           
            </div>

          </div>
          <div class="col-lg-6">
            <div class="vision_img text-center">
              <img src="{% static 'img/vision.png' %}" alt="">
            </div>


          </div>
          <div class="col-lg-12">
            <div class="vision_content">
            <h4>MISSION</h4>
              
            <ul>
              
              <li>
                  Will act as an interface between the industry and the government.
              </li>

              <li>
                  Protect the user's interest through an industry-wide standard complaint resolution mechanism.
              </li>

              <li>
                  Will aid in fostering an optimistic and progressive perspective among industry stakeholders.
              </li>

              <li>
                  Promote standards and best practices for the Members and industry at large.
              </li>
            </ul>
        </div>
          </div>
        </div>
      </div>
    </section>


 



  

    {% endblock content %}
      
</html>